[submodule "controller"]
	path = controller
	url = https://github.com/Bitspleaseee/controller.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/Bitspleaseee/auth-service.git
[submodule "security-gate"]
	path = security-gate
	url = https://github.com/Bitspleaseee/security-gate.git
[submodule "web-client"]
	path = web-client
	url = https://github.com/Bitspleaseee/web-client.git
